rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /reservations/{reservationId} {
      allow read, create, update, delete: if true;
    }

    match /reservationSlots/{slotId} {
      allow read, create, update, delete: if true;
    }
  }
}
