rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null &&
        request.auth.token.email in [
          'jiyoon01746@gmail.com',
          'kusis.midnight@gmail.com'
        ];
    }

    match /reservations/{reservationId} {
      allow read, create, delete: if true;
      allow update: if isAdmin();
    }

    match /reservationSlots/{slotId} {
      allow read, create, delete: if true;
      allow update: if false;
    }

    match /cancellationLogs/{logId} {
      allow create, read: if isAdmin();
      allow update, delete: if false;
    }
  }
}
